.heading {
    background-color: #e0dfdf6a;
    height: 3rem;
}

.date-select {
    display: flex;
    width: 8rem;
}

.row-count-select {
    display: flex;
    height: 2rem;
}

.country-select {
    display: flex;
    width: 9rem;
    height: 2rem;
}

.article-list {
    max-width: 90%;
}

.no-bullet {
    list-style-type: none;
}

.article-view {
    border-radius: 0.6rem;
    border-bottom: 0.2rem solid;
    border-left: 0.1rem solid;
    border-right: 0.1rem solid;
    border-top: 0.05rem solid;
    border-color: #4847476a;
    height: 6rem;
}

.article-content {
    height: 100%;
}

.article-title {
    flex: 1;
    text-align: center;
}

.article-count {
    flex: 1;
    text-align: center;
    font-size: 0.9rem;
}